*{  box-sizing:border-box;  }

.header{
    width:100%;
    border: #fff solid;
    height: 100px;
    background-color: aqua;
    font-size: 50px;
    color:#fff;
    text-align: center;
    line-height: 100px;
    padding: 2%
}

.nav{
    width:100%;
    border: #fff solid;
    height: 40px;
    background-color: yellow;
    font-size: 30px;
    color:#fff;
    text-align: center;
    line-height: 40px;
    padding: 2%

}
.sidebar{
    width:21%;
    border: #fff solid;
    height: 400px;
    background-color: #0031ff;
    font-size: 50px;
    color:#fff;
    text-align: center;
    line-height: 400px;
    float: left;
    padding: 2%
}
.main{
    width:100%;
    border: #fff solid;
    height: 400px;
    background-color: #00ff4e;
    font-size: 50px;
    color:#fff;
    text-align: center;
    line-height: 400px;
    padding: 2%

}
.footer{
    width:100%;
    border: #fff solid;
    height: 80px;
    background-color: #ff9d00;
    font-size: 50px;
    color:#fff;
    text-align: center;
    line-height: 80px;
    padding: 2%
}
.mav>li{
    display:inline-block;
    position: relative;
    padding:5px 20px;
    border:1px solid #ddd;
    border-right: 0;
    margin-left: -4px;
    box-sizing: border-box;
    width:25%;
    cursor: pointer;
}
.mav>li:last-child{
    border-right: 1px solid #ddd;
}
.submenu{
    background: #eee;
    width:150px;
    position: absolute;
    top:104%;
    padding: 0px;
    left: -1px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
}
.submenu li{
    list-style-type: none;
    padding: .5em 15px;
    cursor: pointer;
    
}
.mav>li:hover .submenu{
    display: block;
}

.submenu li:hover{
    color:gray;
    background: white;
}